<link href="./index.css" rel="stylesheet">

<form class="form">
  <div class="form__element">
    <span class="form__element--text-left">Name:</span>
    <input type="text" name="name" class="form__element--input-right" maxlength="255">
  </div>
  <div class="form__element">
    <span class="form__element--text-left">Publisher:</span>
    <input type="text" name="publisher" class="form__element--input-right" maxlength="255">
  </div>
  <div class="form__element">
    <span class="form__element--text-left">By:</span>
    <input type="text" name="by" class="form__element--input-right" maxlength="255">
  </div>
  <div class="form__element">
    <span class="form__element--text-left">ISBN:</span>
    <input type="tel" name="isbn" class="form__element--input-right" maxlength="17">
  </div>
  <div class="form__element">
    <span class="form__element--text-left">Price: $</span>
    <input type="tel" name="price" class="form__element--input-right" maxlength="8">
  </div>
  <div class="form__element">
    <button id="submit" type="submit" class="form__element--submit">Submit</button>
  </div>
</form>

